<div class="modalz fade" id="myModal2" role="dialog">
    <div class="modal-dialog modal-dialog-centered  modal-xl">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 style="text-align: center;color:black" class="cursive-font">CART ITEMS :
                    ORDER ID #ARGB244531
                </h4>
            </div>
            <div class="modal-body">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">FOOD NAME</th>
                            <th scope="col">IMAGE</th>
                            <th scope="col">PRICE(£)</th>
                            <th scope="col">QUANTITY</th>
                            <th scope="col">TOTAL(£)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>
                                <img src="assets/theme/sample/vegicon.jpg" width="18px" height="20px">
                                VANNILA COFFEE
                            </td>
                            <td>
                                <img src="assets/theme/sample/cb1.jpg" width="30px" height="30px">
                                <img src="assets/theme/sample/cb2.jpg" width="30px" height="30px">
                            </td>
                            <td>15</td>
                            <td>
                                <input id=demoInput type=number value=2 min=0 max=110>
                            </td>
                            <td>30</td>

                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>
                                <img src="assets/theme/sample/nonvegicon.jpg" width="18px" height="20px">
                                CHICKEN FRIED RICE
                            </td>
                            <td>
                                <img src="assets/theme/sample/cb1.jpg" width="30px" height="30px">
                                <img src="assets/theme/sample/cb2.jpg" width="30px" height="30px">
                            </td>
                            <td>20</td>
                            <td><input id=demoInput type=number value=2 min=0 max=110></td>
                            <td>40</td>

                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>
                                <img src="assets/theme/sample/vegicon.jpg" width="18px" height="20px">
                                FRENCH FRIES
                                <!-- <img src="assets/theme/sample/cb1.jpg" width="30px" height="30px">
                                <img src="assets/theme/sample/cb2.jpg" width="30px" height="30px"> -->
                            </td>
                            <td>
                                <img src="assets/theme/sample/cb1.jpg" width="30px" height="30px">
                                <img src="assets/theme/sample/cb2.jpg" width="30px" height="30px">
                            </td>
                            <td>10</td>
                            <td><input id=demoInput type=number value=2 min=0 max=110></td>
                            <td>20</td>

                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>TOTAL(£)</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>90</td>

                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>

                            <td colspan="2">
                                <button style="color:green">PROCEED TO CONFIRMATION</button>
                                <a href="payment">PROCEED TO CONFIRMATION</a>
                            </td>
                            <td><button style="color:red">CANCEL</button></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </div>
</div>