<div class="modalz fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 style="text-align: center;color:black" class="cursive-font">CUSTOMER LOGIN</h4>
      </div>
      <div class="modal-body">
        <div class="row form-group">
          <div class="col-md-12">
            <label for="date-start">USER-NAME / EMAIL-ID</label>
            <div class="box-wrapper">
              <input type="text" id="searchbar" placeholder="Username / Email id" class="form-control" required>
              <a href=""><img id="locationbutton" width="80px" src="assets/theme/images/arrow.png"></a>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-12">
            <label for="date-start">OTP</label>
            <div class="box-wrapper">
              <input type="password" id="searchbar" placeholder="OTP" class="form-control" required>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-12">
            <input type="submit" style="color:black" class="btn btn-primary btn-block" value="LOGIN"> </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row form-group">
          <div class="col-md-12">
            <div class="box-wrapper">
              <a href="customer-panels">login</a>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>