
<div class="modalz fade" id="myModal1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 style="text-align: center;color:black" class="cursive-font">CUSTOMER REGISTRATION</h4>
        </div>
        <div class="modal-body">
          <div class="row form-group">
            <div class="col-md-12">
              <label for="date-start">NAME</label>
              <div class="box-wrapper">
                <input type="text" id="searchbar" placeholder="Name"
                  class="form-control" required>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-12">
              <label for="date-start">CONTACT NO</label>
              <div class="box-wrapper">
                <input type="text" id="searchbar" placeholder="Contact No."
                  class="form-control" required>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-12">
              <label for="date-start">EMAIL ID</label>
              <div class="box-wrapper">
                <input type="text" id="searchbar" placeholder="Email-Id"
                  class="form-control" required>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-12">
              <input type="submit" style="color:black" class="btn btn-primary btn-block" value="REGISTER"> </div>
          </div>
        </div>
      
      </div>
  
    </div>
  </div>