<header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner"
	style="background-image: url(assets/theme/images/home1.jpg)" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-12 col-md-offset-0 text-left">
				<div class="row row-mt-15em">
					<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp"> <span
							class="intro-text-small">WELCOME TO</span>
						<h1 class="cursive-font">FOOD GRUBBER</h1>
					</div>
					<div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
						<div class="form-wrap">
							<div class="tab">
								<div class="tab-content">
									<div class="tab-content-inner active" data-content="signup">
										<h3 class="cursive-font">Search Cooks</h3>
										<form action="#">
											<div class="row form-group">
												<div class="col-md-12">
													<label for="date-start">FOOD NAME</label>
													<input type="text" placeholder="Food Name" class="form-control"
														required> </div>
											</div>
											<div class="row form-group">
												<div class="col-md-12">
													<label for="date-start">LOCATION</label>
													<div class="box-wrapper">
														<input type="text" id="searchbar" placeholder="Post Code"
															class="form-control" required>
														<a href=""><img id="locationbutton"
																src="assets/theme/images/loc4_.png"></a>
													</div>
												</div>
											</div>
											<div class="row form-group">
												<div class="col-md-12">
													<label for="date-start">DISTANCE</label>
													<select class="form-control" style="color:black;" name="idtyp"
														class="txt3" id="idtyp" required>
														<option style="color:blue">--SELECT--</option>
														<option value="1 KM" style="color:blue">1 KM</option>
														<option value="2 KM" style="color:blue">2 KM</option>
														<option value="3 KM" style="color:blue">3 KM</option>
														<option value="4 KM" style="color:blue">4 KM</option>
														<option value="5 KM" style="color:blue">5 KM</option>
													</select>
												</div>
											</div>
											<div class="row form-group">
												<div class="col-md-12">
													<input type="submit" style="color:black"
														class="btn btn-primary btn-block" value="SEARCH NOW"> </div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="gtco-section">
	<div class="gtco-container1">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
				<h2 class="cursive-font primary-color">Popular Dishes</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-6">
				<a href="chefs?fid=1" class="fh5co-card-item image-popup">
					<figure>
						<div class="overlay"><i class="ti-plus"></i></div> <img
							src="assets/theme/images/chickenbiryani.jpg" alt="Image" class="img-responsive">
					</figure>
					<div class="fh5co-text">
						<h2>CHICKEN BIRYANI</h2>
						<p>If someone says there is no true love,make them taste biryani!!</p>
						<p><span class="price cursive-font">£37</span></p>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6">
				<a href="assets/theme/images/chickenbuttermasala.jpg" class="fh5co-card-item image-popup">
					<figure>
						<div class="overlay"><i class="ti-plus"></i></div> <img
							src="assets/theme/images/chickenbuttermasala.jpg" alt="Image" class="img-responsive">
					</figure>
					<div class="fh5co-text">
						<h2>CHICKEN BUTTER MASALA</h2>
						<p>Chicken is a bird...Butter Chicken is a way of life!!</p>
						<p><span class="price cursive-font">£30</span></p>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6">
				<a href="assets/theme/images/pizza.jpg" class="fh5co-card-item image-popup">
					<figure>
						<div class="overlay"><i class="ti-plus"></i></div> <img src="assets/theme/images/pizza.jpg"
							alt="Image" class="img-responsive">
					</figure>
					<div class="fh5co-text">
						<h2>CHICKEN DOUBLE CHEEZE PIZZA</h2>
						<p>Pizza is the only Love Triangle; You would ever Love!!</p>
						<p><span class="price cursive-font">£15</span></p>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6">
				<a href="assets/theme/images/cake.jpg" class="fh5co-card-item image-popup">
					<figure>
						<div class="overlay"><i class="ti-plus"></i></div> <img src="assets/theme/images/cake.jpg"
							alt="Image" class="img-responsive">
					</figure>
					<div class="fh5co-text">
						<h2>CHOCOLATE CAKE</h2>
						<p>Romance is the Icing, But Love is the Cake!!</p>
						<p><span class="price cursive-font">£8</span></p>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6">
				<a href="assets/theme/images/burger.jpg" class="fh5co-card-item image-popup">
					<figure>
						<div class="overlay"><i class="ti-plus"></i></div> <img src="assets/theme/images/burger.jpg"
							alt="Image" class="img-responsive">
					</figure>
					<div class="fh5co-text">
						<h2>CHICKEN BURGER</h2>
						<p>Life is Better With Burger!!</p>
						<p><span class="price cursive-font">£15</span></p>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6">
				<a href="assets/theme/images/pasta.jpg" class="fh5co-card-item image-popup">
					<figure>
						<div class="overlay"><i class="ti-plus"></i></div> <img src="assets/theme/images/pasta.jpg"
							alt="Image" class="img-responsive">
					</figure>
					<div class="fh5co-text">
						<h2>CHICKEN PASTA</h2>
						<p>Life is Combination of Magic & Pasta</p>
						<p><span class="price cursive-font">£18</span></p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<div id="gtco-features">
	<div class="gtco-container1">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
				<h2 style="color:black" class="cursive-font">Our Services</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="feature-center animate-box" data-animate-effect="fadeIn"> <span class="icon">
						<i class="ti-face-smile"></i>
					</span>
					<h3 style="color:black">Happy People</h3>
					<p style="color:black">“Life’s good when it’s lived for oneself; it’s great when lived for others.
						The true means of happiness is to lose your mind by thinking for others!”</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="feature-center animate-box" data-animate-effect="fadeIn"> <span class="icon">
						<i class="ti-thought"></i>
					</span>
					<h3 style="color:black">Creative Culinary</h3>
					<p style="color:black">“The only real stumbling block is fear of failure. In cooking you’ve got to
						have a what-the-hell attitude”</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="feature-center animate-box" data-animate-effect="fadeIn"> <span class="icon">
						<i class="ti-truck"></i>
					</span>
					<h3 style="color:black">Food Delivery</h3>
					<p style="color:black">“The food at your doorstep”</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="gtco-counter" class="gtco-section">
	<div class="gtco-container1">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
				<h2 style="color:black" class="cursive-font">Food Grubber</h2>
				<p style="color:black">“If more of us valued food and cheer and song above hoarded gold, it would be a
					merrier world. This above all: to thine own self be true, And it must follow, as the night the day,
					Thou canst not then be false to any man.”</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
				<div class="feature-center"> <span style="color:red" class="counter js-counter" data-from="0"
						data-to="8" data-speed="5000" data-refresh-interval="50">1</span> <span style="color:black"
						class="counter-label">Avg. Rating</span> </div>
			</div>
			<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
				<div class="feature-center"> <span style="color:red" class="counter js-counter" data-from="0"
						data-to="60" data-speed="5000" data-refresh-interval="50">1</span> <span style="color:black"
						class="counter-label">Food Types</span> </div>
			</div>
			<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
				<div class="feature-center"> <span style="color:red" class="counter js-counter" data-from="0"
						data-to="40" data-speed="5000" data-refresh-interval="50">1</span> <span style="color:black"
						class="counter-label">Chef Cook</span> </div>
			</div>
			<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
				<div class="feature-center"> <span style="color:red" class="counter js-counter" data-from="2010"
						data-to="2020" data-speed="5000" data-refresh-interval="50">1</span> <span style="color:black"
						class="counter-label">Year Started</span> </div>
			</div>
		</div>
	</div>
</div>