<header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner"
	style="background-image: url(assets/theme/images/home1.jpg)" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-12 col-md-offset-0 text-left">
				<div class="row row-mt-15em">
					<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp"> <span
							class="intro-text-small">WELCOME TO</span>
						<h1 class="cursive-font">FOOD GRUBBER</h1>
					</div>
					<div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
						<div class="form-wrap">
							<div class="tab">
								<div class="tab-content">
									<div class="tab-content-inner active" data-content="signup">
										<h3 class="cursive-font">Search Cooks</h3>
										<form action="#">
											<div class="row form-group">
												<div class="col-md-12">
													<label for="date-start">FOOD NAME</label>
													<input type="text" placeholder="Food Name" class="form-control"
														required> </div>
											</div>
											<div class="row form-group">
												<div class="col-md-12">
													<label for="date-start">LOCATION</label>
													<div class="box-wrapper">
														<input type="text" id="searchbar" placeholder="Post Code"
															class="form-control" required>
														<a href=""><img id="locationbutton"
																src="assets/theme/images/loc4_.png"></a>
													</div>
												</div>
											</div>
											<div class="row form-group">
												<div class="col-md-12">
													<label for="date-start">DISTANCE</label>
													<select class="form-control" style="color:black;" name="idtyp"
														class="txt3" id="idtyp" required>
														<option style="color:blue">--SELECT--</option>
														<option value="1 KM" style="color:blue">1 KM</option>
														<option value="2 KM" style="color:blue">2 KM</option>
														<option value="3 KM" style="color:blue">3 KM</option>
														<option value="4 KM" style="color:blue">4 KM</option>
														<option value="5 KM" style="color:blue">5 KM</option>
													</select>
												</div>
											</div>
											<div class="row form-group">
												<div class="col-md-12">
													<input type="submit" style="color:black"
														class="btn btn-primary btn-block" value="SEARCH NOW"> </div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<br>
<a style="color:black;text-align: center;" href="#">ORDERS DETAILS</a>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
    </tbody>
</table>