<header id="gtco-header" class="gtco-cover gtco-cover-smzap1" role="banner"
	style="background-image: url(assets/theme/images/home1.jpg)" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-12 col-md-offset-0 text-left">
				<!-- <div class="row row-mt-15em">
					<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp"> <span
							class="intro-text-small">WELCOME TO</span>
						<h1 class="cursive-font">FOOD GRUBBER</h1>
					</div>
					<div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
						<div class="form-wrap">
							<div class="tab">
								<div class="tab-content">
									<div class="tab-content-inner active" data-content="signup">
										<h3 class="cursive-font">Search Cooks</h3>
										<form action="#">
											<div class="row form-group">
												<div class="col-md-12">
													<label for="date-start">FOOD NAME</label>
													<input type="text" placeholder="Food Name" class="form-control"
														required> </div>
											</div>
											<div class="row form-group">
												<div class="col-md-12">
													<label for="date-start">LOCATION</label>
													<div class="box-wrapper">
														<input type="text" id="searchbar" placeholder="Post Code"
															class="form-control" required>
														<a href=""><img id="locationbutton"
																src="assets/theme/images/loc4_.png"></a>
													</div>
												</div>
											</div>
											<div class="row form-group">
												<div class="col-md-12">
													<label for="date-start">DISTANCE</label>
													<select class="form-control" style="color:black;" name="idtyp"
														class="txt3" id="idtyp" required>
														<option style="color:blue">--SELECT--</option>
														<option value="1 KM" style="color:blue">1 KM</option>
														<option value="2 KM" style="color:blue">2 KM</option>
														<option value="3 KM" style="color:blue">3 KM</option>
														<option value="4 KM" style="color:blue">4 KM</option>
														<option value="5 KM" style="color:blue">5 KM</option>
													</select>
												</div>
											</div>
											<div class="row form-group">
												<div class="col-md-12">
													<input type="submit" style="color:black"
														class="btn btn-primary btn-block" value="SEARCH NOW"> </div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</header>
<br>
<div style="background-color:#C0C0C0;margin-top: 40px;">

	<div style="margin-left: 210px;background-color:white; width: 60%;">
		1. CART-ITEMS CONFIRMATION
		<button style="float: right;color:black;height: 27px;font-size : 12px;" class="btnz1 btn-primary" type="button"
			data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapseExample">
			SHOWUP
		</button>

		<div class="collapse" id="collapse1">
			<div class="card card-body">
				<table class="table table-dark">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">FOOD NAME</th>
							<th scope="col">PRICE(£)</th>
							<th scope="col">QUANTITY</th>
							<th scope="col">TOTAL(£)</th>
							<th scope="col">STATUS</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>
								<img src="assets/theme/sample/vegicon.jpg" width="18px" height="20px">
								VANNILA COFFEE
								<!-- <img src="assets/theme/sample/cb1.jpg" width="30px" height="30px">
							<img src="assets/theme/sample/cb2.jpg" width="30px" height="30px"> -->
							</td>
							<td>15</td>
							<td>
								<input id=demoInput type=number value=2 min=0 max=110>
							</td>
							<td>30</td>
							<td style="color: green;">ACCEPTED</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>
								<img src="assets/theme/sample/nonvegicon.jpg" width="18px" height="20px">
								CHICKEN FRIED RICE
								<!-- <img src="assets/theme/sample/cb1.jpg" width="30px" height="30px">
							<img src="assets/theme/sample/cb2.jpg" width="30px" height="30px"> -->
							</td>
							<td>20</td>
							<td><input id=demoInput type=number value=2 min=0 max=110></td>
							<td>40</td>
							<td style="color: green;">ACCEPTED</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td>
								<img src="assets/theme/sample/vegicon.jpg" width="18px" height="20px">
								FRENCH FRIES
								<!-- <img src="assets/theme/sample/cb1.jpg" width="30px" height="30px">
							<img src="assets/theme/sample/cb2.jpg" width="30px" height="30px"> -->
							</td>
							<td>10</td>
							<td><input id=demoInput type=number value=2 min=0 max=110></td>
							<td>20</td>
							<td style="color:red;">REJECTED</td>
						</tr>
						<tr>
							<th scope="row"></th>
							<td>TOTAL(£)</td>
							<td></td>
							<td></td>
							<td>90</td>

						</tr>
						<tr>
							<th scope="row"></th>
							<td></td>

							<td colspan="2">
								<button style="color:green">PROCEED TO CONFIRMATION</button>

							</td>
							<td><button style="color:red">CANCEL</button></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div><br>
		</div>
	</div><br>
	<div style="margin-left: 210px;background-color:white; width: 60%;">
		2. ADDRESS
		<button style="float: right;color:black;height: 27px;font-size : 12px;" class="btnz1 btn-primary" type="button"
			data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapseExample">
			SHOWUP
		</button>

		<div class="collapse" id="collapse2">
			<div class="card card-body">
				<!--sample-->
				<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
					<div class="card-header">Header</div>
					<div class="card-body">
					  <h5 class="card-title">Info card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				  </div>
			</div>
			<!--sample-->
		</div><br>
	</div>
</div><br>
</div>